@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* iranyekanx fonts */
.ss02 {
  -moz-font-feature-settings: "ss02";
  -webkit-font-feature-settings: "ss02";
  font-feature-settings: "ss02";
}

/* handle style scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #dfdddd;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-main);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-main);
}

/* end style scrollbar  */

/* start theme colors  */
:root {
  --primary-main: #eeeeee;
  --background-main: #eeeeee;
  --background-paper: #eeeeee;
  --text-main: #eeeeee;
  --text-subText: #eeeeee;
  --divider: #eeeeee;
}
/* end theme colors */
