@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* handle style scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #dfdddd;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-main);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-main);
}

/* end style scrollbar  */

/* start theme colors  */
:root {
  --primary-main: #b2b3b6;
  --background-main: #efefef;
  --background-paper: #fefefe;
  --text-main: #31020e;
  --text-subText: #a21441;
  --divider: #d4d4d4;
}
/* end theme colors */
